---
layout: layouts/root.liquid
tags: project
permalink: /projekt/{{ id | slug }}/
---

{% if has-hero == true %} {% capture heroURL %}/assets/images/projects/{{
  id
}}-hero.jpg{% endcapture %} {% else %} {% capture heroURL
%}/assets/images/bg_default.svg{% endcapture %} {% endif %}

<style>
  #hero {
    background-image: url({{heroURL}});
  }
</style>

<style>
.button {
  border: none;
  color: black;
  width: 80%;
  height: 3em;
  text-align: center;
  font-weight : bold ;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
}

.button1 {
  background-color: white;
  color: #54649c;
  border: 2px solid #495b95;
}

.button1:hover {
  background-color: #495b95;
  color: white;
}

</style>

<section
  id="hero"
  class="w-full h-56 md:h-96 bg-blue-500 text-white bg-cover clip-path-slanted bg-blend-soft-light"
>
  <div class="max-w-screen-lg h-full mx-auto p-8 grid grid-cols-12 md:gap-8">
    <h1 class="col-span-12 md:col-start-6 md:col-span-7 self-center">
      {{ title }}
    </h1>
  </div>
</section>
<div
  class="max-w-screen-lg mx-auto p-8 grid grid-cols-12 md:gap-8 md:mt-12 mb-12"
>
  <div class="col-span-12 md:col-span-5">
    {% if tags %}
    <div class="mt-4 md:mt-0">
      {% for tag in tags %} {% unless tag == "project" or tag == "documents" %}
      <li class="inline-block mt-2">
        {% include partials/tag.liquid, tag: tag %}
      </li>
      {% endunless %} {% endfor %}
    </div>
    {% endif %}
    <a href="{{ link }}"><button class="button button1"
        type="button"
        style="margin-top: 2em">
    Zur Website
</button></a>
<br> <a href="{{ repository }}"><button class="button button1"
        type="button"
        style="margin-top: 1em"
        style="margin-bottom: 0">
    Zum Repository
</button></a>
    <table class="mt-8 w-full text-left">
      {% if repository %}
      {% endif %} {% if languages and githubData.repos[repository] == nil %}
      <tr
        class="grid grid-cols-4 gap-2 py-2 border-t-2 border-gray-300 border-dotted"
      >
        <th class="col-span-3 font-normal">Primäre Sprachen:</th>
        <br><td class="col-span-3">
          {% for language in languages %}
          <span class="py-1 px-2 bg-gray-100 text-gray-600 rounded-md">{{
            language
          }}</span>
          {% endfor %}
        </td>
      </tr>
      {% endif %} {% if license and githubData.repos[repository] == nil %}
      <tr
        class="grid grid-cols-4 gap-2 py-2 border-t-2 border-gray-300 border-dotted"
      >
        <th class="col-span-3 font-normal">Lizenz:</th>
        <br><td class="col-span-3">
          {{ license }}
        </td>
      </tr>
      {% endif %} {% if institution %}
      <tr
        class="grid grid-cols-4 gap-2 py-2 border-t-2 border-gray-300 border-dotted"
      >
        <th class="col-span-3 font-normal">Institution:</th>
        <br><td class="col-span-3">
          {{ institution }}
        </td>
      </tr>
      {% endif %}
    </table>
    <!--{% if repository %}
    <h2 class="mt-8 text-sm">Daten von GitHub</h2>
    {% endif %} {% if repository and githubData.repos[repository] == nil %}
    <small
      >Aktualisierung ausstehend. Bitte versuche es später noch einmal.</small
    >
    {% endif %} {% if githubData.repos[repository] %}
    <small
      >Zuletzt aktualisiert:
      {{ githubData.timestamp | date: "%d.%m.%Y" }}</small
    >-->
    <table class="mt-4 w-full text-left">
       <tr
        class="grid grid-cols-4 gap-2 py-2 border-t-2  border-gray-300 border-dotted"
      >
        <th class="col-span-3 font-normal">Programmiersprache:</th>
        <br><td class="col-span-3">
          {{
            githubData.repos[repository].language
          }}
        </td>
      </tr>
      <!--<tr
        class="grid grid-cols-4 gap-2 py-2 border-t-2 border-gray-300 border-dotted"
      >
        {<th class="col-span-3 font-normal">Archiviert:</th>
        <br><td class="col-span-3">
          {% if githubData.repos[repository].is_archived == true %} Ja {% else
          %} Nein {% endif %}
        </td>
      </tr>-->
      <tr
        class="grid grid-cols-4 gap-2 py-2 border-t-2 border-gray-300 border-dotted"
      >
        <th class="col-span-3 font-normal">Letztes Update:</th>
        <br><td class="col-span-3">
          {{ githubData.repos[repository].updated_at | relativeTime }}
        </td>
      </tr>
      <tr
        class="grid grid-cols-4 gap-2 py-2 border-t-2 border-gray-300 border-dotted"
      >
        <th class="col-span-3 font-normal">Offene Issues:</th>
        <br><td class="col-span-3">
          {{ githubData.repos[repository].open_issues_count }}
        </td>
      </tr>
      <tr
        class="grid grid-cols-4 gap-2 py-2 border-t-2 border-gray-300 border-dotted"
      >
        <th class="col-span-1 font-normal">Lizenz:</th>
        <td class="col-span-3">
          {% if githubData.repos[repository].license == "" %} Keine Angabe {%
          else %}
          {{ githubData.repos[repository].license }}
          {% endif %}
        </td>
      </tr>
    </table>
    {% endif %}
  </div>
  <article class="col-span-12 md:col-span-7 mt-8 md:mt-0 prose">
    {{ content }}
  </article>
  <aside class="col-span-12 mt-12">
    <h2 class="mx-auto text-center">Alle Projekte auf einen Blick</h2>
    <div class="mt-8">{% include partials/project-overview.liquid %}</div>
  </aside>
</div>
