<a
  href="{{ url }}"
  class="h-full p-4 bg-white shadow-md focus:shadow-none grid grid-cols-4 gap-4 transform focus:scale-95 transition-transform"
>
  <img
    src="/assets/images/projects/{{ id }}-thumb.png"
    alt="{{ title }}"
    class="col-span-1 md:col-span-2"
  />
  <div
    class="col-span-3 md:col-span-2 h-full grid gap-1 md:gap-2 grid-rows-stretch-last"
  >
    <h3>{{ title }}</h3>
    <div class="flex flex-wrap place-content-between">
      <p class="text-gray-900">{{ abstract }}</p>
      {% if updated_at %}
      <p class="mt-3 md:mt-6 p-1 text-blue-500 bg-gray-100 rounded-md text-xs">
        {{ updated_at | relativeTime }}
      </p>
      {% endif %}
    </div>
  </div>
</a>
