<a href="{{ url }}" class="p-4 bg-white shadow-md grid grid-cols-4 gap-4">
  <img
    src="/assets/images/projects/{{ id }}-thumb.png"
    alt="{{ title }}"
    class="col-span-1 md:col-span-2"
  />
  <div class="col-span-3 md:col-span-2">
    <h3>{{ title }}</h3>
    <p class="text-gray-900 mt-2 md:mt-3">{{ abstract }}</p>
  </div>
</a>