<section>
<div class="text-center pb-9">
  <h1>Alle Projekte auf einen Blick:</h1>
</div>
<div class="grid md:grid-cols-2 gap-4">
  {% for project in collections.project %}
  <a
    href="{{ project.url }}"
    class="p-4 bg-white shadow-md grid grid-cols-2"
  >
    <img src="/assets/images/projects/{{ project.data.id }}-thumb.png" alt="Alt text" width=90%/>
    <div>
      <h3>{{ project.data.title }}</h3>
      <p class="text-gray-900 pt-4">{{ project.data.abstract }}</p>
      {% if project.data.link %}<small>{{ project.data.link }}</small
      >{% endif %}
    </div>
  </a>
  {% endfor %}
</div>
