<div class="grid md:grid-cols-2 gap-4">
  {% for project in collections.project %}
  <a href="{{ project.url }}" class="p-4 bg-white shadow-md grid grid-cols-4 gap-4">
    <img
      src="/assets/images/projects/{{ project.data.id }}-thumb.png"
      alt="{{ project.data.title }}"
      class="col-span-1 md:col-span-2"
    />
    <div class="col-span-3 md:col-span-2">
      <h3>{{ project.data.title }}</h3>
      <p class="text-gray-900 mt-2 md:mt-3">{{ project.data.abstract }}</p>
    </div>
  </a>
  {% endfor %}
</div>
